<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="form-group">
            <label for="taskTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="taskTitle" name="title" formControlName="title">
            <div *ngIf="f.title.errors" class="alert alert-danger" role="alert">
                Title is required!
            </div>  
        </div>
        <div class="form-group">
            <label for="taskDescription" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="taskDescription" rows="3" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label" for="taskStatus">Status</label>
            <select formControlName="status" id="taskStatus" class="form-select" aria-label="Task Status">
                <option *ngFor="let option of eTaskStatus | keyvalue" [ngValue]="option.value">{{option.value}}</option>
              </select>
            <label for="taskStatus" class="form-label">Status</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!taskForm!.valid">Submit</button>
        </div>
    </div>
</form>

<pre>{{ taskForm!.value | json }}</pre>