<ng-container *ngIf="taskForm$ | async as taskForm; else loading">
    <form class="form" [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm)">
        <app-input inputType="text" label="Title" [control]="taskForm.controls['title']" />
        <app-input inputType="text" controlType="textarea" [control]="taskForm.controls['description']" />
        <div class="form-group">
            <label class="form-label" for="issueStatus">Status</label>
            <select formControlName="status" id="issueStatus" class="form-select" aria-label="Issue Status">
                <option *ngFor="let option of eTaskStatus | keyvalue" [ngValue]="option.value">{{option.value}}
                </option>
            </select>
            <label for="issueStatus" class="form-label">Status</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!taskForm!.valid">Submit</button>
        </div>
    </form>

    <pre>{{ taskForm!.value | json }}</pre>
</ng-container>
<ng-template #loading>
    <div class="spinner-border m-5" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-template>